
#script-editor-container .grid-background {
    width: calc(100% - 450px);
}
/* Override global scrollbar suppression for CodeMirror */
#script-editor-container .CodeMirror {
    overflow-y: auto !important; /* Enable vertical scrolling */
    -ms-overflow-style: auto !important; /* IE and Edge */
    scrollbar-width: auto !important; /* Firefox */
}

/* Container and layout */
#script-editor-container {
    position: relative;
    height: auto; /* Allow dynamic resizing */
}

#script-editor-container .grid-background {
    width: calc(100% - 360px); /* Adjust for sidebar width */
    flex: 1;
    position: relative;
    overflow: hidden; /* Contain children */
}

#script-editor-container .grid-background > div {
    position: relative;
    height: 100%;
}
#script-editor-sidebar {
    width: 360px;
    padding: 10px;
}