/* =============================================================================
   SCRIPT EDITOR - MODULE-SPECIFIC STYLES
   ============================================================================= */

/* Code container - fills available space */
.script-editor__code-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.script-editor__code {
    flex: 1;
    height: 100%;
    min-height: 0;
}
