body {
    margin: 0;
    background-color: #1a1a2e;
    color: white;
    font-family: sans-serif;
}

#appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#helloMessage {
    font-size: 3em;
}
